<div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
        <div class="card" data-AOS="flip-left">
            <img src="../../assets/mar1" alt="">
            <h1>Wedding Cakes</h1>
            <p>100</p>
            <button class="btn sweet" (click)="onclick()">explore now</button>
            
        </div>
    </div>
    <div class="col">
        <div class="card" data-AOS="flip-left">
            <img src="../../assets/birth1" alt="">
            <h1>Birthday Cakes</h1>
            <p>400</p>
            <button class="btn sweet"(click)="onclick1()">explore now</button>
        </div>
    </div>
    <div class="col">
        <div class="card" data-AOS="flip-left">
            <img src="../../assets/cup2" alt="">
            <h1>Desserts</h1>
            <p>200</p>
            <button class="btn sweet" (click)="onclick2()">explore now</button>
        </div>
    </div>
</div>
<div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
        <div class="card" data-AOS="flip-left">
            <img src="../../assets/cake" alt="">
            <h1>Cup Cakes</h1>
            <p>100</p>
            <button class="btn sweet" (click)="onclick()">explore now</button>
        </div>
    </div>
    <div class="col">
        <div class="card" data-AOS="flip-left">
            <img src="../../assets/egg" alt="">
            <h1>Eggless Cakes</h1>
            <p>400</p>
            <button class="btn sweet"(click)="onclick1()">explore now</button>
        </div>
    </div>
    <div class="col">
        <div class="card" data-AOS="flip-left">
            <img src="../../assets/fruit" alt="">
            <h1>Fresh Fruit Cakes</h1>
            <p>200</p>
            <button class="btn sweet" (click)="onclick2()">explore now</button>
        </div>
    </div>
</div>

