/* order.component.css */
.order{
  background-color: #f6d1d4;
  padding: 10px 0;
}
.order-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #e1999f;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    margin-top: 50px;
  }
  
  h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
  }
  
  input,
  select,
  textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  button {
    width: 100%;
    padding: 10px;
    background-color: #6f4f1f; /* Chocolaty color */
    color: #fff;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:disabled {
    background-color: #ddd;
  }
  
  button:hover {
    background-color: #9e7a59; /* Lighter chocolaty color */
  }