/* contact-us.component.css */
.contact-us {
    background-color: #f6d1d4;
    padding: 50px 0;
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #e1999f;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 25px;
  }
  
  h1 {
    text-align: center;
    color: #000000; /* Cake-theme color */
    font-family: 'Arial', sans-serif;
  }
  
  p {
    text-align: center;
    color: #555;
    font-size: 1.2rem;
    margin-bottom: 30px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    font-size: 1rem;
    color: #333;
  }
  
  input, textarea {
    width: 100%;
    padding: 12px;
    margin-top: 8px;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  input:focus, textarea:focus {
    border-color: #d65a31;
    outline: none;
  }
  
  button {
    width: 100%;
    padding: 12px;
    background-color: rgb(63, 63, 189); /* Cake-theme color */
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 1.1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: rgb(37, 37, 207);
  }
  
  button:disabled {
    background-color: #ddd;
    cursor: not-allowed;
  }
  